body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.calculator-screen {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculator-keys button {
    height: 60px;
    width: 60px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.calculator-keys button.operator {
    background-color: #ff9500;
    color: #fff;
}

.calculator-keys button.equal-sign {
    background-color: #007aff;
    color: #fff;
    height: 130px;
}

.calculator-keys button.all-clear {
    background-color: #ff3b30;
    color: #fff;
}

.calculator-keys button:hover {
    background-color: #d4d4d2;
}

.calculator-keys button.operator:hover {
    background-color: #ff7f00;
}

.calculator-keys button.equal-sign:hover {
    background-color: #005bb5;
}

.calculator-keys button.all-clear:hover {
    background-color: #ff1c1c;
}